# 제로베이스 데이터 사이언스 스쿨 3기 SQL 과제 2
- 유가 데이터 분석

### 8문제 총 100점

- 1번 5점
- 2번 5점
- 3번 10점
- 4번 30점
- 5번 10점
- 6번 10점
- 7번 15점
- 8번 15점

### 1 ~ 8번 모두 본 노트북 파일에 답안 작성해서 제출해주세요 :)

---

문제 1.

주유소 데이터를 저장할 테이블을 다음의 구조로 생성하세요. (PDF 파일 참고)

In [ ]:
'''
CREATE TABLE GAS_BRAND
(
id int not null auto_increment, 
name varchar(16),
primary key (id)
);
'''


'''
CREATE TABLE GAS_STATION
(
id int not null auto_increment, 
brand int,
name varchar(64),
city char(2),
gu varchar(10),
address varchar(128),
gasoline int,
disel int,
self boolean,
car_wash boolean,
charging_staion boolean,
car_maintenance boolean,
convenience_store boolean,
24_hours boolean,
lat decimal(16,14),
lng decimal(17,14),

primary key (id),
foreign key (brand) references GAS_BRAND(id)
);
'''

문제 2.

Python 코드로 GAS_BRAND 데이터를 다음과 같이 입력하고 확인하세요. (PDF 파일 참고)

In [92]:
import mysql.connector

conn = mysql.connector.connect(
    host ="database-1.cwmkq2falgnu.ap-southeast-2.rds.amazonaws.com",
    port = 3306,
    user = "oneday",
    password = "****",
    database = "oneday",
)

cursor = conn.cursor(buffered= True)

In [ ]:

cursor.execute("INSERT into GAS_BRAND (name) Values ('SK에너지'), ('현대오일뱅크'), ('GS칼텍스'), ('S-OIL'), ('알뜰주유소'), ('자가상표') ")

제출 1.
- Table 생성 결과 : Desc GAS_BRAND; Desc GAS_STATION;

In [59]:
cursor.execute("Desc GAS_BRAND")
result = cursor.fetchall()
print("GAS_BRAND")
for row in result:
    print(row)

cursor.execute("Desc GAS_STATION")
result = cursor.fetchall()

print("GAS_STATION")
for row in result:
    print(row)

GAS_BRAND
('id', b'int', 'NO', 'PRI', None, 'auto_increment')
('name', b'varchar(16)', 'YES', '', None, '')
GAS_STATION
('id', b'int', 'NO', 'PRI', None, 'auto_increment')
('brand', b'int', 'YES', 'MUL', None, '')
('name', b'varchar(64)', 'YES', '', None, '')
('city', b'char(2)', 'YES', '', None, '')
('gu', b'varchar(10)', 'YES', '', None, '')
('address', b'varchar(128)', 'YES', '', None, '')
('gasoline', b'int', 'YES', '', None, '')
('disel', b'int', 'YES', '', None, '')
('self', b'tinyint(1)', 'YES', '', None, '')
('car_wash', b'tinyint(1)', 'YES', '', None, '')
('charging_staion', b'tinyint(1)', 'YES', '', None, '')
('car_maintenance', b'tinyint(1)', 'YES', '', None, '')
('convenience_store', b'tinyint(1)', 'YES', '', None, '')
('24_hours', b'tinyint(1)', 'YES', '', None, '')
('lat', b'decimal(16,14)', 'YES', '', None, '')
('lng', b'decimal(17,14)', 'YES', '', None, '')

제출 2.
- GAS_BRAND 조회 결과 : SELECT * FROM GAS_BRAND;

In [58]:
cursor.execute("select * from GAS_BRAND")
result = cursor.fetchall()

for row in result:
    print(row)

(1, 'SK에너지')
(2, '현대오일뱅크')
(3, 'GS칼텍스')
(4, 'S-OIL')
(5, '알뜰주유소')
(6, '자가상표')

문제 3.

다음의 함수와 그 함수를 테스트하는 코드를 작성하세요. (PDF 파일 참고)

- 화폐단위 문자형을 입력받아 숫자형으로 반환하는 함수 (테스트 입력 : ‘1,000’)
- 주유소 브랜드를 입력하면 GAS_BRAND 데이터를 참고하여 ID 를 반환하는 함수 (테스트 입력 : ‘SK에너지’) - 주소를 입력받아 구 이름을 반환하는 함수 (테스트 입력 : ‘서울시 강남구 헌릉로 730’)
- 주소를 입력받아 위도, 경도를 반환하는 함수 (테스트 입력 : ‘서울시 강남구 헌릉로 730’)

제출 3.
- 각 함수 및 테스트 코드와 실행결과

In [44]:
import googlemaps

def string_to_int(string):
    i = int(string.replace(',', ''))
    return i


def brand_to_id(brand):
    cursor.execute(f"select id from GAS_BRAND where name like '{brand}'")
    result = cursor.fetchall()
    try:
        id = result[0][0]
    except:
        id = 6
    return id


def address_to_gu(address):
    gu = address.split(" ")[1]
    return gu


def address_to_lat_and_lng(address):
    gmaps_key = "AIzaSyB4SduHYlnVTyXqcd1AjXFnOTNoJX6OTtQ"
    gmaps = googlemaps.Client(key = gmaps_key)
    gmaps_output = gmaps.geocode(address)
    location_output = gmaps_output[0].get("geometry")
    lat = location_output["location"]["lat"]
    lng = location_output["location"]["lng"]
    return (lat, lng)

In [46]:
print(string_to_int('1,000'))
print(brand_to_id("sk에너지"))
print(address_to_gu("서울시 강남구 헌릉로 730"))
print(address_to_lat_and_lng("서울시 강남구 헌릉로 730"))

1000
1
강남구
(37.4665675, 127.1190803)

문제 4.

Python 코드에서 주유소 페이지에서 데이터를 가져올때, GAS_STATION 테이블에 바로 입력하도록 수정하세요. (앞서 생 성한 함수활용)
- 주의. city 는 ‘서울’ 로 고정, 부가정보 데이터 타입
- 입력된 데이터의 총 갯수를 쿼리하여 결과를 확인합니다. - 입력된 데이터 상위 10개를 쿼리하여 결과를 확인합니다.


제출 4.
- 주유소 데이터 관련 코드 (ipynb)

In [65]:
from selenium import webdriver
from bs4 import BeautifulSoup
from urllib.request import Request, urlopen
import time

driver = webdriver.Chrome("driver/chromedriver.exe")
driver.get("https://www.opinet.co.kr/searRgSelect.do")

In [66]:
driver.find_element_by_xpath('''//*[@id="SIDO_NM0"]''').click() #지역 클릭
driver.find_element_by_xpath('''//*[@id="SIDO_NM0"]/option[2]''').click() # 서울 클릭
time.sleep(2)

In [67]:


si_gun_gu_raw = driver.find_element_by_xpath('''//*[@id="SIGUNGU_NM0"]''')
si_gun_gu_list = si_gun_gu_raw.find_elements_by_tag_name("option")

from tqdm import tqdm

for i in tqdm(range(1, len(si_gun_gu_list))):
    si_gun_gu_raw = driver.find_element_by_xpath('''//*[@id="SIGUNGU_NM0"]''')
    si_gun_gu_list = si_gun_gu_raw.find_elements_by_tag_name("option")
    
    driver.find_element_by_xpath('''//*[@id="SIGUNGU_NM0"]''').click() #시군구 클릭
    time.sleep(1)
    si_gun_gu_list[i].click()
    time.sleep(1)
    
    tbody = driver.find_element_by_id("body1")
    station_href_list = tbody.find_elements_by_tag_name("a")
    
    for j in range(0, len(station_href_list)):
        station_href_list[j].click()
        
        req = driver.page_source #현재 페이지의 html코드 가져오기
        soup = BeautifulSoup(req, 'html.parser')
        
        station_info = soup.find(id = "os_dtail_info")
        
        #주유소 이름
        station_name = station_info.find(id="os_nm").get_text()
        
        
        # 주소
        station_address = station_info.find(id="rd_addr").get_text()
        
        
        # 브랜드 로고
        logo = station_info.find(id="poll_div_nm").get_text()
        if logo == "HD현대오일뱅크":
            logo = "현대오일뱅크"
        brand_id = brand_to_id(logo)
        
        
        # 휘발유 가격
        gasoline_price = station_info.find(id="b027_p").get_text()
        gasoline_price = string_to_int(gasoline_price)
        
        
        # 경유 가격
        diesel_price = station_info.find(id="d047_p").get_text()
        diesel_price = string_to_int(diesel_price)
        
        
        #셀프
        self = 1 if station_info.find(id="self_icon") is not None else 0
        
        
        # 구
        gu = address_to_gu(station_address)
        
        
        #세차장
        wash_img = station_info.find(id="cwsh_yn")["src"]
        if wash_img == "/images/user/gis/oil_station_service1_01_off.gif":
            wash = 0
        else:
            wash = 1
        
        
        #충전소
        charge_img = station_info.find(id="lpg_yn")["src"]
        if charge_img == "/images/user/gis/oil_station_service1_02_01_off.gif":
            charge = 0
        else:
            charge = 1
            
        #경정비
        maint_img = station_info.find(id="maint_yn")["src"]
        if maint_img == "/images/user/gis/oil_station_service1_03_off.gif":
            maint = 0
        else:
            maint = 1
        
        #편의점
        cvs_img = station_info.find(id="cvs_yn")["src"]
        if cvs_img == "/images/user/gis/oil_station_service1_04_off.gif":
            cvs = 0
        else:
            cvs = 1
        
        #24시간
        sel24_img = station_info.find(id="sel24_yn")["src"]
        if sel24_img == "/images/user/gis/oil_station_service1_05_off.gif":
            sel24 = 0
        else:
            sel24 = 1

        lat, lng = address_to_lat_and_lng(station_address)

        sql = f"""insert into GAS_STATION (brand, name, city, gu, address, gasoline, disel, self, car_wash, charging_staion, car_maintenance, convenience_store, 24_hours, lat, lng) 
                values ({brand_id},'{station_name}','서울','{gu}','{station_address}',{gasoline_price},{diesel_price},'{self}','{wash}','{charge}','{maint}','{cvs}','{sel24}',{lat},{lng})"""
        cursor = conn.cursor(buffered=True)

        cursor.execute(sql)
        # print(f"{brand_id},'{station_name}','서울','{gu}','{station_address}',{gasoline_price},{diesel_price},'{self}','{wash}','{charge}','{maint}','{cvs}','{sel24}',{lat},{lng}")
        conn.commit()

  0%|          | 0/25 [00:00<?, ?it/s]

100%|██████████| 25/25 [09:25<00:00, 22.63s/it]

In [68]:
driver.quit()

In [93]:
cursor.execute("select count(*) from GAS_STATION")
result = cursor.fetchall()
print(result)

cursor.execute("select * from GAS_STATION limit 10")
result = cursor.fetchall()
for row in result:
    print(row)

[(439,)]
(1, 2, '삼성동주유소', '서울', '강남구', '서울 강남구 테헤란로 619 (삼성동)', 1755, 1705, 1, 1, 0, 0, 0, 0, Decimal('37.50985760000000'), Decimal('127.06511010000000'))
(2, 1, '(주)보성 세곡주유소', '서울', '강남구', '서울 강남구  헌릉로 731 (세곡동)', 1759, 1649, 1, 1, 0, 0, 0, 0, Decimal('37.46715650000000'), Decimal('127.11870810000000'))
(3, 3, '방죽주유소', '서울', '강남구', '서울 강남구 밤고개로 215 (율현동)', 1777, 1679, 1, 1, 0, 0, 0, 0, Decimal('37.47499260000000'), Decimal('127.10688660000000'))
(4, 1, '자곡셀프주유소', '서울', '강남구', '서울 강남구 밤고개로 120 (자곡동)', 1779, 1675, 1, 1, 0, 0, 0, 0, Decimal('37.48340020000000'), Decimal('127.10404580000000'))
(5, 2, 'HD현대오일뱅크㈜직영 산성셀프주유소', '서울', '강남구', '서울 강남구 헌릉로 730', 1788, 1678, 1, 1, 0, 0, 0, 0, Decimal('37.46656750000000'), Decimal('127.11908030000000'))
(6, 4, '극동유화㈜ 개나리주유소', '서울', '강남구', '서울 강남구 언주로 423 (역삼동)', 1800, 1694, 1, 1, 0, 1, 0, 1, Decimal('37.50007760000000'), Decimal('127.03854190000000'))
(7, 1, '오일프러스 셀프', '서울', '강남구', '서울 강남구 남부순환로 2651 (도곡동)', 1805, 1704, 1, 1, 0, 1, 0, 1, Decimal('37.48583900000000'), Decimal('127.03967210000000'))
(8, 2, 'HD현대오일뱅크㈜직영 도곡셀프주유소', '서울', '강남구', '서울 강남구  남부순환로 2718 (도곡2동)', 1819, 1709, 1, 1, 0, 1, 0, 0, Decimal('37.48546230000000'), Decimal('127.04321810000000'))
(9, 2, 'HD현대오일뱅크㈜직영 유진주유소', '서울', '강남구', '서울 강남구 논현로 152 (도곡동)', 1834, 1724, 0, 1, 0, 1, 0, 0, Decimal('37.48743160000000'), Decimal('127.03999760000000'))
(10, 3, '지에스칼텍스㈜에너지플러스허브GS타워', '서울', '강남구', '서울 강남구 논현로 516 (역삼동)', 1834, 1819, 1, 0, 0, 1, 0, 1, Decimal('37.50270829999999'), Decimal('127.03639560000000'))

문제 5.

시각화 프로젝트를 위하여 다음의 규칙으로 쿼리하여 CSV 파일로 저장합니다. (Python 코드로 작성)
- 전체 데이터를 가져오는데, 주유소 브랜드 아이디 대신 브랜드명이 표시되어야 합니다. (정렬 : 주유소 매장 아이디 순)
- 다음의 형식으로 저장되어야 함 (브랜드 이름, 칼럼 명 주의, id : GAS_STORE.id)

제출 5.
- 시각화 프로젝트 관련 코드 (ipynb), 결과 파일 (csv)

In [94]:
import pandas as pd

sql = """ select s.id, b.name brand, s.name, s.city, s.gu, s.address, s.gasoline, s.disel, s.self, s.car_wash, s.charging_staion, s.car_maintenance, s.convenience_store, s.24_hours, s.lat, s.lng from GAS_STATION s inner join GAS_BRAND b ON s.brand = b.id order by s.id"""
cursor.execute(sql)

result = cursor.fetchall()
column_list = ["id", "brand", "name", "city", "gu", "address", "gasoline", "disel", "self", "car_wash", "charging_staion", "car_maintenance", "convenience_store", "24_hours", "lat", "lng"]
df = pd.DataFrame(result, columns=column_list)
df.head()

,id,brand,name,city,gu,address,gasoline,disel,self,car_wash,charging_staion,car_maintenance,convenience_store,24_hours,lat,lng
0,1,현대오일뱅크,삼성동주유소,서울,강남구,서울 강남구 테헤란로 619 (삼성동),1755,1705,1,1,0,0,0,0,37.50985760000000,127.06511010000000
1,2,SK에너지,(주)보성 세곡주유소,서울,강남구,서울 강남구 헌릉로 731 (세곡동),1759,1649,1,1,0,0,0,0,37.46715650000000,127.11870810000000
2,3,GS칼텍스,방죽주유소,서울,강남구,서울 강남구 밤고개로 215 (율현동),1777,1679,1,1,0,0,0,0,37.47499260000000,127.10688660000000
3,4,SK에너지,자곡셀프주유소,서울,강남구,서울 강남구 밤고개로 120 (자곡동),1779,1675,1,1,0,0,0,0,37.48340020000000,127.10404580000000
4,5,현대오일뱅크,HD현대오일뱅크㈜직영 산성셀프주유소,서울,강남구,서울 강남구 헌릉로 730,1788,1678,1,1,0,0,0,0,37.46656750000000,127.11908030000000

In [95]:
df.to_csv("df.csv", sep=",", encoding="utf-8")

문제 6.

위도, 경도 정보를 이용하여 미왕빌딩에서 1킬로 이내에 위치한 주유소 정보를 검색하세요.

- 주유소 아이디, 주유소 브랜드명, 주유소 매장명, 주소, 미왕빌딩으로 부터의 거리 (km)

제출 6.
- 쿼리, 결과

In [99]:
import geopy.distance as dis
buliding_address = "서울 강남구 강남대로 364"
b_lat, b_lng = address_to_lat_and_lng(buliding_address)
print(b_lat, b_lng)

37.4955525 127.0292924

In [105]:
sql01 = """SELECT id, brand, name, address,
ST_Distance_Sphere(point(127.0292924,37.4955525), POINT(lng, lat)) AS distance
FROM GAS_STATION
WHERE ST_Distance_Sphere(point(127.0292924,37.4955525), POINT(lng, lat)) <= 1000
"""
cursor.execute(sql01)
result = cursor.fetchall()
for row in result:
    print(row)

(6, 4, '극동유화㈜ 개나리주유소', '서울 강남구 언주로 423 (역삼동)', 958.6485050701871)
(11, 1, 'SK서광주유소', '서울 강남구 역삼로 142', 529.0106412267197)
(257, 2, 'HD현대오일뱅크㈜직영 서초제일주유소', '서울 서초구 사임당로 116 (서초동)', 810.3002928841319)

문제 7.

위도, 경도 정보를 이용하여 미왕빌딩에서 셀프주유가 가능하고 24시간이면서 편의점이 있는 가장 가까운 주유소 10개를 휘 발유 가격이 가장 저렴한 순으로 정렬하여 조회하세요.

- 주유소 아이디, 주유소 브랜드명, 주유소 매장명, 주소, 휘발유 가격, 부가정보 (셀프, 24시간, 편의점 여부), 미왕빌딩으로 부터의 거리 (km)


제출 7.
- 쿼리, 결과

In [113]:
sql02 = """SELECT s.id, s.brand, s.name, s.address, s.gasoline, s.self, s.24_hours, s.convenience_store, s.distance
FROM (select *, ST_Distance_Sphere(point(127.0292924,37.4955525), POINT(lng, lat)) AS distance 
 from GAS_STATION
 WHERE self = 1 and 24_hours = 1 and convenience_store = 1
 order by distance
 limit 10) s
order by gasoline
"""

cursor.execute(sql02)
result = cursor.fetchall()
for row in result:
    print(row)

(234, 6, '만남의광장주유소', '서울 서초구 양재대로12길 73-71', 1699, 1, 1, 1, 4104.351728662811)
(361, 1, '행촌주유소', '서울 영등포구 도신로 130 (신길동)', 1718, 1, 1, 1, 10952.037225818154)
(306, 3, '지에스칼텍스(주)가든파이브주유소', '서울 송파구 탄천동로 740', 1763, 1, 1, 1, 5292.827503002649)
(223, 2, '(주)가재울뉴타운주유소', '서울 서대문구 모래내로 205', 1772, 1, 1, 1, 12785.119174260606)
(342, 2, '현대오일뱅크(주)직영 양천현대셀프주유소', '서울 양천구 안양천로 1179 (목동)', 1778, 1, 1, 1, 14200.800308812219)
(144, 3, '대득에너지(금천셀프주유소)', '서울 금천구  시흥대로 81 (시흥동)', 1785, 1, 1, 1, 12680.521692483231)
(325, 1, '백제고분로주유소', '서울 송파구 오금로 143 (방이동)', 1797, 1, 1, 1, 7945.494091421438)
(375, 1, 'SK에너지(주) 기린주유소', '서울 영등포구 선유로 270', 1804, 1, 1, 1, 12320.072525536665)
(251, 1, '대신석유(주)대우주유소', '서울 서초구 양재대로 173 (양재동)', 1819, 1, 1, 1, 3710.8453612530157)
(233, 1, '행촌제2주유소', '서울 서대문구 성산로 490 (대신동)', 1865, 1, 1, 1, 10698.531698500085)

문제 8.

구별로 주유소 브랜드 별 휘발유 평균가격을 조회하여 저렴한 순으로 출력하세요.

- 구 이름, 주유소 브랜드 이름, 휘발유 평균 가격

제출 8.
- 쿼리, 결과

In [115]:
sql03 = """SELECT s.gu, b.name, avg(gasoline)
from GAS_STATION s
inner join GAS_BRAND b ON s.brand = b.id
group by s.gu, s.brand
order by avg(gasoline)
"""

cursor.execute(sql03)
result = cursor.fetchall()
for row in result:
    print(row)

('서초구', '자가상표', Decimal('1699.0000'))
('강서구', '알뜰주유소', Decimal('1725.5000'))
('양천구', '알뜰주유소', Decimal('1727.0000'))
('영등포구', '알뜰주유소', Decimal('1727.0000'))
('양천구', 'S-OIL', Decimal('1728.0000'))
('은평구', '현대오일뱅크', Decimal('1732.5000'))
('도봉구', 'SK에너지', Decimal('1745.5000'))
('성북구', '알뜰주유소', Decimal('1747.0000'))
('중랑구', '현대오일뱅크', Decimal('1749.0000'))
('광진구', '현대오일뱅크', Decimal('1749.5000'))
('강북구', '현대오일뱅크', Decimal('1751.6667'))
('은평구', 'S-OIL', Decimal('1752.0000'))
('중랑구', 'GS칼텍스', Decimal('1752.3333'))
('강북구', 'GS칼텍스', Decimal('1752.6667'))
('은평구', 'GS칼텍스', Decimal('1752.8000'))
('광진구', 'GS칼텍스', Decimal('1753.0000'))
('은평구', 'SK에너지', Decimal('1753.3333'))
('양천구', 'GS칼텍스', Decimal('1753.4000'))
('강북구', 'S-OIL', Decimal('1755.0000'))
('도봉구', 'GS칼텍스', Decimal('1756.3333'))
('성동구', 'S-OIL', Decimal('1756.5000'))
('성동구', '자가상표', Decimal('1758.0000'))
('도봉구', 'S-OIL', Decimal('1759.4000'))
('금천구', 'S-OIL', Decimal('1760.0000'))
('강서구', '현대오일뱅크', Decimal('1761.2000'))
('성북구', '현대오일뱅크', Decimal('1762.4286'))
('영등포구', 'S-OIL', Decimal('1763.6667'))
('금천구', '알뜰주유소', Decimal('1764.0000'))
('구로구', 'SK에너지', Decimal('1764.7500'))
('관악구', '알뜰주유소', Decimal('1765.0000'))
('도봉구', '현대오일뱅크', Decimal('1765.5000'))
('서대문구', 'GS칼텍스', Decimal('1768.5000'))
('송파구', 'S-OIL', Decimal('1768.8000'))
('성북구', 'SK에너지', Decimal('1770.6667'))
('노원구', '현대오일뱅크', Decimal('1771.3333'))
('성북구', 'GS칼텍스', Decimal('1772.5000'))
('영등포구', '현대오일뱅크', Decimal('1775.1429'))
('관악구', '현대오일뱅크', Decimal('1775.2500'))
('동대문구', '현대오일뱅크', Decimal('1776.0000'))
('중랑구', 'S-OIL', Decimal('1776.2000'))
('서대문구', '현대오일뱅크', Decimal('1776.2500'))
('중랑구', 'SK에너지', Decimal('1777.2500'))
('관악구', 'SK에너지', Decimal('1777.5000'))
('서대문구', 'S-OIL', Decimal('1777.6667'))
('강북구', 'SK에너지', Decimal('1778.2500'))
('동작구', 'GS칼텍스', Decimal('1779.5000'))
('구로구', '현대오일뱅크', Decimal('1779.8750'))
('금천구', '현대오일뱅크', Decimal('1781.0000'))
('양천구', 'SK에너지', Decimal('1783.0000'))
('노원구', 'S-OIL', Decimal('1783.2500'))
('양천구', '현대오일뱅크', Decimal('1783.6667'))
('강서구', 'GS칼텍스', Decimal('1784.4286'))
('송파구', 'GS칼텍스', Decimal('1784.5000'))
('동대문구', 'S-OIL', Decimal('1784.7500'))
('금천구', 'GS칼텍스', Decimal('1785.0000'))
('금천구', 'SK에너지', Decimal('1787.0000'))
('동대문구', 'GS칼텍스', Decimal('1787.6667'))
('성북구', 'S-OIL', Decimal('1789.8333'))
('동대문구', 'SK에너지', Decimal('1791.2000'))
('노원구', 'GS칼텍스', Decimal('1796.0000'))
('동작구', 'S-OIL', Decimal('1799.0000'))
('노원구', 'SK에너지', Decimal('1802.0000'))
('마포구', '현대오일뱅크', Decimal('1803.6667'))
('강서구', 'SK에너지', Decimal('1805.1818'))
('광진구', 'S-OIL', Decimal('1805.6667'))
('송파구', 'SK에너지', Decimal('1806.7778'))
('서초구', 'GS칼텍스', Decimal('1808.1818'))
('강서구', 'S-OIL', Decimal('1809.0000'))
('동작구', '현대오일뱅크', Decimal('1811.0000'))
('강동구', 'GS칼텍스', Decimal('1814.2000'))
('송파구', '현대오일뱅크', Decimal('1814.3333'))
('종로구', '현대오일뱅크', Decimal('1816.0000'))
('중구', 'S-OIL', Decimal('1817.0000'))
('서초구', '현대오일뱅크', Decimal('1821.4000'))
('관악구', 'S-OIL', Decimal('1822.0000'))
('마포구', 'S-OIL', Decimal('1822.0000'))
('강동구', 'SK에너지', Decimal('1824.2500'))
('중구', '알뜰주유소', Decimal('1828.0000'))
('서대문구', 'SK에너지', Decimal('1831.3333'))
('구로구', 'S-OIL', Decimal('1832.2500'))
('강동구', '현대오일뱅크', Decimal('1839.3333'))
('서초구', 'S-OIL', Decimal('1845.5000'))
('은평구', '자가상표', Decimal('1848.0000'))
('성동구', '현대오일뱅크', Decimal('1848.5000'))
('관악구', 'GS칼텍스', Decimal('1855.6667'))
('마포구', 'SK에너지', Decimal('1856.0000'))
('서초구', 'SK에너지', Decimal('1856.4286'))
('영등포구', 'GS칼텍스', Decimal('1857.4286'))
('종로구', 'S-OIL', Decimal('1859.5000'))
('광진구', 'SK에너지', Decimal('1859.6667'))
('영등포구', 'SK에너지', Decimal('1862.0000'))
('용산구', '현대오일뱅크', Decimal('1883.0000'))
('동작구', 'SK에너지', Decimal('1895.0000'))
('중구', '현대오일뱅크', Decimal('1898.0000'))
('구로구', 'GS칼텍스', Decimal('1922.0000'))
('강남구', 'S-OIL', Decimal('1933.0000'))
('성동구', 'SK에너지', Decimal('1933.5000'))
('강남구', 'SK에너지', Decimal('1943.3846'))
('강동구', 'S-OIL', Decimal('1944.0000'))
('강남구', '현대오일뱅크', Decimal('2015.0000'))
('성동구', 'GS칼텍스', Decimal('2060.3333'))
('강남구', 'GS칼텍스', Decimal('2093.4444'))
('종로구', 'SK에너지', Decimal('2151.3333'))
('용산구', 'SK에너지', Decimal('2210.6667'))
('중구', 'SK에너지', Decimal('2248.7500'))
('종로구', 'GS칼텍스', Decimal('2345.0000'))
('용산구', 'GS칼텍스', Decimal('2457.5000'))
('중구', 'GS칼텍스', Decimal('2483.5000'))

---